<h1 class="mt-4">Agregar Producto</h1>
<hr>
<form class="mt-4" [formGroup]="miFormulario">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label for="" class="col-form-label">Nombre:</label>
    </div>
    <div class="col-auto">
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="col-auto">
      <!-- Usar la directiva personalizada en este elemento HTML. Por tanto va a heredar todo el comportamiento y funciones
      que ofrece esta directiva -->
      <span class="form-text" error-msg *ngIf="tieneError('nombre')">
        Este campo es requerido
      </span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>

<h4 class="mt-5">Inspeccionar Formulario</h4>
<pre>Value: {{ miFormulario.value | json }}</pre>
<pre>Valid: {{ miFormulario.valid }}</pre>
