<h1 class="mt-4">Agregar Producto</h1>
<span class="badge bg-primary">{{ mensaje }}</span>
<hr>
<form class="mt-4" [formGroup]="miFormulario">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label for="" class="col-form-label">Nombre:</label>
    </div>
    <div class="col-auto">
      <input type="text" formControlName="nombre" class="form-control">
    </div>
    <div class="col-auto">
      <!-- Usar la directiva personalizada en este elemento HTML. Por tanto va a heredar todo el comportamiento y funciones
      que ofrece esta directiva
      La directiva puede recibir entradas de información @Input() del mismo modo que los componentes, solo basta definir la propiedad asociada y pasarle el valor -->
      <span error-msg
            [color]="color"
            [mensaje]="mensaje"
            *ngIf="tieneError('nombre')"></span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <button class="btn btn-primary" (click)="cambiarMensaje()">Guardar</button>
      <button class="btn btn-warning ms-3" (click)="cambiarColor()">Cambiar color</button>
    </div>
  </div>
</form>

<h4 class="mt-5">Inspeccionar Formulario</h4>
<pre>Value: {{ miFormulario.value | json }}</pre>
<pre>Valid: {{ miFormulario.valid }}</pre>
